@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";
@import "../../../assets/styles/functions";

:host {
    .coin-data {
        @include flex(row, space-between, flex-start);
        flex-wrap: wrap;
        cursor: pointer;
        height: 100%;

        &__short {
            text-transform: uppercase;
            font-size: rem(12px);
            font-weight: bold;
            color: $sClr3;
        }

        img {
            width: 35px;
        }

        &__bottom {
            flex-basis: 100%;
            align-self: flex-end;
            display: flex;
            justify-content: space-between;
            &__rate {
                display: none;
            }
        }

        &.open {
            .coin-data__short {
                color: darken($pClr3, 10%);
            }
            .coin-data__bottom {
                &__rate {
                    display: block;
                }
            }
        }
    }
}
