@import "../../../assets/styles/mixins";
@import "../../../assets/styles/functions";
@import "../../../assets/styles/variables";

.over-contacts {
    @include flex(row, space-between);
    padding-bottom: rem(20px);
    i {
        font-size: rem(30px);
        padding: rem(2px) rem(9px);
        border: rem(1px) solid $sClr2;
        color: $sClr2;
        padding-bottom: rem(5px);
    }
}
