@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/functions";

.contact-filter{
    display: flex;
    align-items: center;
    input{
        @include input();
    }
    img{
        position: relative;
        width: rem(18px);
        left: rem(-28px);
    }
}