@import "../../../../assets/styles/functions";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";

.contact {
    @include flex(column);
    padding: rem(20px);
    cursor: pointer;
    background-color: $sClr2;
    transition: 0.2s;
    
    &__img {
        width: rem(80px);
    }

    &__info{
        @include flex(column)
    }

    &:hover {
        background-color: $sClr3;
        transform: scale(1.05);
    }
}

@media (max-width: $break-narrow) {
    .contact {
        @include flex(row, flex-start);
        padding: rem(5px) rem(20px);
        width: 100%;
        

        &__img {
            width: rem(50px);
            box-shadow: none;
        }

        &__info {
            .phone{
                font-size: rem(16px);
                display: block;
            }
        }

        &:hover &__img {
            background: none;
        }
    }
}

@media (min-width: $break-normal) {
    .contact {
        &__img {
            width: rem(154px);
        }
    }
}

@media (min-width: $break-wide) {
    .contact {
        &__img {
            width: rem(228px);
        }
    }
}
