@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";
@import "../../../assets/styles/functions";

.home {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("https://res.cloudinary.com/trellox/image/upload/v1654523107/cryptonites/pexels-photo-2387818_wn3n1d.jpg");
    padding: 62px 113px;

    &__header {
        @include flex(row, space-between);


        &__list {
            @include flex();
            gap: 25px;
            & > *{
                padding: 10px;
                &.active{
                    background-color: lighten($sClr3, 10%);
                    color: $pClr2;
                    border-radius: 2px;
                }
            }
        }
    }
}
