<section class="details-cmp">
  <section class="contact round">
    <div class="contact__actions">
      <i class="fa-solid fa-arrow-left" title="Back" (click)="onBack()"></i>
      <a [routerLink]="['/contact', 'edit', contact._id]">
        <i class="fa-regular fa-pen-to-square" title="Edit"></i>
      </a>
      <!-- <button (click)="onDelete()">Delete</button> -->
    </div>
    <section class="contact__info">
      <img
        src="https://robohash.org/set_set5/{{ contact._id }}.png"
        class="contact__info__img"
        alt=""
      />
      <section class="details">
        <div class="details__name">
          <i class="fa-solid fa-id-card details__icon"></i>
          {{ contact.name }}
        </div>
        <div class="details__email">
          <i class="fa-solid fa-envelope details__icon"></i>
          {{ contact.email }}
        </div>
        <div class="details__phone">
          <i class="fa-solid fa-phone details__icon"></i>
          {{ contact.phone }}
        </div>
      </section>
    </section>
  </section>

  <transfer-fund
    class="transfer-fund round"
    [contact]="contact"
    [loggedInUser]="loggedInUser"
    (onTransfer)="onTransfer($event)"
  ></transfer-fund>

  <section class="transfer-history round">
    <ul>
      <transfer-history
        class="transfer-history__cmp"
        *ngFor="let move of movesForDisplay"
        key="move.id"
        [move]="move"
      ></transfer-history>
    </ul>
  </section>
</section>
