@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.details-cmp {
    grid-template-areas:
        "a a b"
        "a a b"
        "c c c";

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    min-height: 80vh;

    .contact {
        grid-area: a;
        width: 100%;
        height: 100%;

        @include flex(column);
        padding: 40px;
        gap: 20px;
        background-color: $sClr2;

        &__actions {
            @include flex(row, space-between);
            width: 100%;
            cursor: pointer;
        }

        &__info {
            @include flex(column);
            gap: 60px;

            &__img {
                width: 200px;
            }

            .details {
                @include flex(column, space-evenly, flex-start);
                font-size: rem(20px);
                height: 100%;

                .details__icon {
                    position: absolute;
                    left: -40px;
                    top: 3px;
                    cursor: pointer;
                }

                .details__name,
                .details__email,
                .details__phone {
                    position: relative;
                }
            }
        }
    }

    .transfer-fund {
        grid-area: b;
        width: 100%;
        height: 100%;

        background-color: $sClr2;
    }

    .transfer-history {
        grid-area: c;
        width: 100%;
        height: 100%;
        max-height: 25vh;


        background-color: $sClr2;
        overflow-y: auto;
        padding: 5px 0;
        
    }
}

@media (min-width: $break-normal) {
    .details-cmp {
        .contact {
            &__info {
                flex-direction: row;
            }
        }
    }
}