@import "../../../assets/styles/mixins";
@import "../../../assets/styles/functions";
@import "../../../assets/styles/variables";

header {
    @include flex(row, space-between);
    padding: 20px 0;
    position: relative;

    .logo {
        @include flex(row, center, stretch);
        &__title {
            @include flex(column);
            font-weight: 700;
            span:first-child {
                font-size: rem(40px);
            }
        }
    }

    .welcome {
    }

    .filter {
        @include input();
    }

    .user {
        @include flex();
        gap: 10px;
        &__img {
            cursor: pointer;
            border-radius: 2px;
            width: 40px;
            height: 40px;
            object-fit: cover;
            background: url("https://res.cloudinary.com/trellox/image/upload/v1657115510/cryptonites/Group_5_1_pgpofm.png")
                no-repeat;
            &:hover {
                background: url("https://res.cloudinary.com/trellox/image/upload/v1657115703/cryptonites/Group_5_1_ygysjj.png")
                    no-repeat;
            }
        }
    }

    .user-modal {
        display: none;
        position: absolute;
        background-color: $sClr2;
        // background-color: lighten($sClr2, 50%);
        border: 1px solid #0000004a;
        right: 25px;
        top: 25px;
        border-radius: 2px;
        padding: 20px 50px;
        width: 305px;
        // color: $pClr2;
        color: $pClr1;
        gap: 5px;
        
        @include flex(column);
        &.open-modal {
        }
        
        &__img {
            width: 70px;
            border-radius: 2px;
            margin-bottom: 15px;
        }
        &__name {
            font-size: rem(25px);
            font-weight: bold;
        }
        &__email {
            font-size: rem(20px);
            margin-bottom: 10px;
        }
        
        &__br{
            border-top: 1px solid #0000004a;
            width: 305px;
            margin-bottom: 10px;
        }
        
        &__btn {
            @include btn($sClr3);

            // padding: 10px 20px;
            // border-radius: 2px;
            // background-color: $sClr2;
            // color: $pClr1;
            // // background-color: lighten($sClr2, 50%);
            // border: 1px solid #0000004a;
        }

    }
}

@media (max-width: $break-narrow) {
}

@media (min-width: $break-normal) {
}

@media (min-width: $break-wide) {
}
