@import "../../../assets/styles/mixins";
@import "../../../assets/styles/functions";
@import "../../../assets/styles/variables";

header {
    @include flex(row, space-between);
    padding: rem(20px) 0;
    position: relative;

    .logo {
        @include flex(row, center, stretch);
        &__title {
            @include flex(column);
            font-weight: 700;
            span:first-child {
                font-size: rem(40px);
            }
        }
    }

    .welcome {
    }

    .filter {
        @include input();
    }

    .user {
        @include flex();
        gap: rem(10px);
        &__img {
            cursor: pointer;
            border-radius: rem(2px);
            width: rem(40px);
            height: rem(40px);
            object-fit: cover;
            background: url("https://res.cloudinary.com/trellox/image/upload/v1657115510/cryptonites/Group_5_1_pgpofm.png")
                no-repeat;
            background-position: center;
            &:hover {
                background: url("https://res.cloudinary.com/trellox/image/upload/v1657115703/cryptonites/Group_5_1_ygysjj.png")
                    no-repeat;
            }
        }
    }

    .user-modal {
        display: none;
        position: absolute;
        background-color: $sClr2;
        border: rem(1px) solid #0000004a;
        right: rem(25px);
        top: rem(25px);
        border-radius: rem(2px);
        padding: rem(20px) rem(50px);
        width: rem(305px);
        color: $pClr1;
        gap: rem(5px);
        
        &.open-modal {
            @include flex(column);
        }
        
        &__img {
            width: rem(70px);
            border-radius: rem(2px);
            margin-bottom: rem(15px);
        }
        &__name {
            font-size: rem(25px);
            font-weight: bold;
        }
        &__email {
            font-size: rem(20px);
            margin-bottom: rem(10px);
        }
        
        &__br{
            border-top: rem(1px) solid #0000004a;
            width: rem(305px);
            margin-bottom: rem(10px);
        }
        
        &__btn {
            @include btn($sClr3);
        }

    }
}
