@import "../../../assets/styles/mixins";
@import "../../../assets/styles/functions";
@import "../../../assets/styles/variables";

header {
    @include flex(row, space-between);
    padding: 20px 0;

    img {
        width: 50px;
    }

    .logo {
        @include flex(row, center, stretch);
        &__title {
            @include flex(column);
            font-weight: 700;
            span:first-child {
                font-size: rem(40px);
            }
        }
    }

    .welcome {
    }

    .filter {
    }

    .user {
        @include flex();
        gap: 10px;
        &__img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            object-fit: cover;
        }
    }
}

@media (max-width: $break-narrow) {
    // header {
    //     .logo {
    //         @include flex(row, center, stretch);
    //     }
    // }
}

@media (min-width: $break-normal) {
}

@media (min-width: $break-wide) {
}
