@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/functions";

.details {
    @include flex(row, space-between);
    padding: 20px;


    &__left {
        @include flex();
        gap: rem(160px);
        &__left {
            @include flex();
            gap: rem(40px);
            img {
                width: rem(36px);
            }
        }
        &__center {
            @include flex();
            gap: rem(10px);
            img {
                width: rem(16px);
            }
        }
    }

    &__right {
        @include flex();
        gap: rem(27px);
        .amount {
            font-size: rem(20px);
        }
        img {
            width: rem(120px);
        }
    }
}
