<ul class="rate-cmp-list">
  <li class="item">
    <header class="item__header">
      <div class="right">
        <img
          class="right__img"
          src="https://res.cloudinary.com/trellox/image/upload/v1652273953/cryptonites/Group_zqaaoj.png"
          alt=""
        />
        <span class="right__coin">Bitcoin</span>
      </div>
      <div class="left">
        <span class="left__type">btc</span>
        <span class="left__rate">{{ rates["BTC"] }}</span>
      </div>
    </header>
    <canvas
      baseChart
      width="340"
      height="200"
      [data]="lineChartDataBTC"
      [options]="lineChartOptions"
      [type]="lineChartType"
    ></canvas>
    <footer class="item__footer">footer</footer>
  </li>
  <li class="item">
    <header class="item__header">
      <div class="right">
        <img
          class="right__img"
          src="https://res.cloudinary.com/trellox/image/upload/v1652273940/cryptonites/Group_5_rvkdqt.png"
          alt=""
        />
        <span class="right__coin">Ethereum</span>
      </div>
      <div class="left">
        <span class="left__type">eth</span>
        <span class="left__rate">{{ rates["ETH"] }}</span>
      </div>
    </header>
    <canvas
      baseChart
      width="340"
      height="200"
      [data]="lineChartDataETH"
      [options]="lineChartOptions"
      [type]="lineChartType"
    ></canvas>
    <footer class="item__footer">footer</footer>
  </li>
  <li class="item">
    <header class="item__header">
      <div class="right">
        <img
          class="right__img"
          src="https://res.cloudinary.com/trellox/image/upload/v1652273946/cryptonites/Group_2_yu5m3j.png"
          alt=""
        />
        <span class="right__coin">Litecoin</span>
      </div>
      <div class="left">
        <span class="left__type">ltc</span>
        <span class="left__rate">{{ rates["LTC"] }}</span>
      </div>
    </header>
    <canvas
      baseChart
      width="340"
      height="200"
      [data]="lineChartDataLTC"
      [options]="lineChartOptions"
      [type]="lineChartType"
    ></canvas>
    <footer class="item__footer">footer</footer>
  </li>
  <li class="item">
    <header class="item__header">
      <div class="right">
        <img
          class="right__img"
          src="https://res.cloudinary.com/trellox/image/upload/v1652279398/cryptonites/Group_4_y2hafp.png"
          alt=""
        />
        <span class="right__coin">Ripple</span>
      </div>
      <div class="left">
        <span class="left__type">xrp</span>
        <span class="left__rate">{{ rates["XRP"] }}</span>
      </div>
    </header>
    <canvas
      baseChart
      width="340"
      height="200"
      [data]="lineChartDataXRP"
      [options]="lineChartOptions"
      [type]="lineChartType"
    ></canvas>
    <footer class="item__footer">footer</footer>
  </li>
  <li class="item">
    <header class="item__header">
      <div class="right">
        <img
          class="right__img"
          src="https://res.cloudinary.com/trellox/image/upload/v1652279394/cryptonites/Group_5-1_ybb9ki.png"
          alt=""
        />
        <span class="right__coin">Dash</span>
      </div>
      <div class="left">
        <span class="left__type">ltc</span>
        <span class="left__rate">{{ rates["DASH"] }}</span>
      </div>
    </header>
    <canvas
      baseChart
      width="340"
      height="200"
      [data]="lineChartDataDASH"
      [options]="lineChartOptions"
      [type]="lineChartType"
    ></canvas>
    <footer class="item__footer">footer</footer>
  </li>
</ul>
