<section class="dash">
  <section class="wallet">
    <div class="wallet__trans">
      <span>{{ loggedInUser.moves.length }}</span>
      Transactions
    </div>
    <div class="wallet__balance">
      Current Balance
      <span>{{ loggedInUser.total }}</span>
    </div>
  </section>

  <coin-data
    *ngFor="let coinData of coinDatas"
    key="coinData.fullName"
    [img]="coinData.img"
    [fullName]="this.helpArray[coinData.shortName]"
    [shortName]="coinData.shortName"
    [rate]="this.rates[coinData.shortName]"
    [isOpened]="this.openedRate === coinData.shortName"
    class="coin-data-cmp"
    [class.open]="this.openedRate === coinData.shortName"
    (onClick)="this.onOpenedRate(coinData.shortName)"
    >
  </coin-data>

  <section class="percents">
    <ngx-charts-pie-grid
      [view]="percentsSize"
      [scheme]="percentsColor"
      [results]="percentsData"
    >
    </ngx-charts-pie-grid>
  </section>

  <section class="bitcoin-chart">
    <!-- <canvas
      baseChart
      [data]="financialChartData"
      [options]="financialChartOptions"
      [type]="financialChartType"
    >
    </canvas> -->
  </section>

  <section class="rates-chart">
    <div class="canvas-container">
      <!-- <canvas
        baseChart
        width="400"
        height="400"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
      ></canvas> -->
    </div>
  </section>

  <!-- <section class="trans">trans</section> -->

  <section class="news"></section>
  <section class="news"></section>
  <section class="news"></section>
  <section class="news"></section>
  <section class="news"></section>

  <section class="ani">
    <ng-lottie [options]="options"></ng-lottie>
  </section>
</section>
