@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/functions";

.info {
    &__head {
        position: relative;
        display: flex;
        align-items: center;
        &__line {
            position: absolute;
            width: rem(240px);
            left: rem(-130px);
        }
        &__title {
            padding-left: rem(172px);
            font-size: rem(12px);
            display: flex;
            flex-direction: column;
        }
    }

    &__seller{
        font-size: rem(51px);
        font-weight: lighter;
        margin-top: rem(57px);
    }
    
    &__btn{
        padding: rem(21px) rem(35px);
        margin-top: rem(50px);
        font-size: rem(11px);
        border: rem(1px) solid $pClr1;
        background: none;
        color: $pClr1;
    }
}
