@import "../../../assets/styles/functions";
@import "../../../assets/styles/variables";

.left {
    width: rem(90px);
    background-color: $sClr1;
}

.right {
    width: calc(100% - rem(90px));
    padding: $layoutPadding;
}
