<section class="main-layout">
  <section *ngIf="isFullApp" class="left">
    <side-nav class="side-nav-cmp"></side-nav>
  </section>
  <section [class.right]="isFullApp">
    <app-header
      class="app-header-cmp"
      [currentCmpName]="currentCmpName"
      *ngIf="isFullApp"
    ></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </section>
  <div
    class="user-msg"
    [hidden]="!userMsg"
    [class.success]="userMsg?.isSuccess"
  >
    <div class="user-msg__title">
      {{ userMsg?.isSuccess ? "SUCCESS" : "ERROR" }}
    </div>
    {{ userMsg?.msg }}
  </div>
</section>
