<section class="trans">
  <input
    class="round"
    type="number"
    min="0"
    max="{loggedInUser.total}"
    [(ngModel)]="amount"
  />
  <!-- change max -->
  <button
    (click)="transfer()"
    [class.disable]="this.amount > loggedInUser.total || this.amount <= 0"
    class="round"
  >
    Transfer
  </button>
  <span>max coins available to transfer: {{ loggedInUser.total }}</span>
  <a [routerLink]="['/trans']" *ngIf="transMsg">Check Transfer</a>
  <ng-lottie *ngIf="transAni" [options]="options"></ng-lottie>
</section>
