<nav>
  <a routerLink="home" routerLinkActive="active" class="logo">
    <i class="fa-solid fa-coins"></i>
  </a>

  <a routerLink="home" routerLinkActive="active" title="Dashboard">
    <i class="fa-regular fa-user"></i>
  </a>
  <a routerLink="home" routerLinkActive="active" title="Bitcoin">
    <i class="fa-brands fa-bitcoin"></i>
  </a>
  <a
    routerLink="contact"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    title="Contacts"
  >
    <i class="fa-regular fa-address-book"></i>
  </a>
  <a routerLink="chart" routerLinkActive="active" title="Markets">
    <i class="fa-solid fa-chart-column"></i>
  </a>
  <a routerLink="chart" routerLinkActive="active" title="Transactions">
    <i class="fa-solid fa-file-invoice-dollar"></i>
  </a>
  <a routerLink="trans" routerLinkActive="active" title="Trading">
    <i class="fa-solid fa-chart-column"></i>
  </a>
  <a routerLink="chart" routerLinkActive="active" title="Calculator">
    <i class="fa-solid fa-calculator"></i>
  </a>
  <a routerLink="chart" routerLinkActive="active" title="Crypto News">
    <i class="fa-solid fa-radio"></i>
  </a>
  <a routerLink="chart" routerLinkActive="active" title="Settings">
    <i class="fa-solid fa-gear"></i>
  </a>
</nav>
