@import "../../../assets/styles/mixins";
@import "../../../assets/styles/functions";
@import "../../../assets/styles/variables";

nav {
    @include flex(column, center, flex-start);
    font-size: rem(15px);
    padding: $layoutPadding*2 0;

    a {
        height: 60px;
        width: 100%;
        @include flex();
        color: $sClr3;

        &.active {
            background-color: $sClr3;
            color: $pClr1;
            &.logo {
                background-color: $sClr1;
            }
        }

        &.logo {
            height: auto;
            margin-bottom: 27px;
            img {
                width: 26px;
            }
        }
    }
}
