<nav>
  <a routerLink="about" routerLinkActive="active" class="logo">
    <img
      src="https://res.cloudinary.com/trellox/image/upload/v1651423233/cryptonites/bitcoin-logo_zp2fru.png"
      alt=""
    />
  </a>

  <a routerLink="dashboard" routerLinkActive="active" title="Dashboard">
    <i class="fa-regular fa-user"></i>
  </a>
  <a routerLink="rate" routerLinkActive="active" title="Rates">
    <i class="fa-solid fa-chart-column"></i>
  </a>
  <a
    routerLink="contact"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    title="Contacts"
  >
    <i class="fa-regular fa-address-book"></i>
  </a>

  <a routerLink="trans" routerLinkActive="active" title="Transactions">
    <i class="fa-solid fa-file-invoice-dollar"></i>
  </a>
</nav>
