@import "../../../assets/styles/mixins";
@import "../../../assets/styles/functions";
@import "../../../assets/styles/variables";

nav {
    @include flex(column, center, start);
    font-size: rem(15px);
    padding: $layoutPadding 0;
    
    a {
        height: 60px;
        width: 100%;
        @include flex;
        color: $sClr2;
        
        &.active {
            background-color: $sClr2;
            color: $pClr1;
            &.logo {
                background-color: $sClr1
            }
        }
        
        &.logo {
            color: $pClr3;
            font-size: rem(26px);
        }
    }
}
