<li class="item">
  <header class="item__header">
    <div class="right">
      <img class="right__img" src="{{ img }}" alt="" />
      <span class="right__coin">{{ fullName }}</span>
    </div>
    <div class="left">
      <span class="left__type">{{ shortName }}</span>
      <span class="left__rate">{{ rate }}</span>
    </div>
  </header>
  <!-- <canvas
    baseChart
    width="340"
    height="200"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [type]="lineChartType"
  ></canvas> -->
  <footer class="item__footer">footer</footer>
</li>
