@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";
@import "../../../assets/styles/functions";

.edit-cmp {
    @include flex(column);
    padding: rem(40px);
    gap: rem(20px);
    background-color: $sClr2;

    &__btns {
        @include flex(row, space-between);
        width: 100%;
        cursor: pointer;
    }

    .contact-det {
        @include flex();
        gap: rem(60px);

        &__img {
            width: rem(200px);
            border-radius: 50%;
        }

        .edit {
            @include flex(column, space-evenly, flex-start);
            font-size: rem(20px);
            height: 100%;

            &__row {
                display: flex;
                flex-direction: column;
                padding: rem(5px) 0;

                input {
                    margin-inline-start: rem(10px);
                    width: rem(200px);
                    @include input();
                }

                label {
                    width: rem(65px);
                }
            }

            &__save {
                align-self: flex-end;
                @include btn();
                width: rem(120px);
                align-self: center;
                margin-top: rem(40px);
            }
        }
    }
}

@media (max-width: $break-narrow) {
    .edit-cmp {
        .contact-det {
            flex-direction: column;
            align-items: flex-start;

            &__img {
                width: rem(100px);
            }

            .edit {
                padding-inline-start: rem(30px);
            }
        }
    }
}

@media (min-width: $break-normal) {
    .edit-cmp {
        .contact-det {
            &__img {
                width: rem(250px);
            }

            .edit {
                &__row {
                    flex-direction: row;
                    input {
                        width: rem(300px);
                    }
                }
            }
        }
    }
}

@media (min-width: $break-wide) {
    .edit-cmp {
        .contact-det {
            &__img {
                width: rem(300px);
            }
        }
    }
}
