<section class="edit-cmp round">
  <div class="edit-cmp__btns">
    <i
      class="fa-solid fa-arrow-left"
      title="Back"
      (click)="onBack()"
    ></i>
    <i
      *ngIf="contact._id"
      class="fa-solid fa-trash"
      title="Remove"
      (click)="onDelete()"
    ></i>
  </div>
  <section class="contact-det">
    <img
      src="https://robohash.org/set_set5/{{ contact._id }}.png"
      alt=""
      class="contact-det__img"
    />
    <form class="edit" (ngSubmit)="onSubmit()">
      <span class="edit__row">
        <label htmlFor="name">Name:</label>
        <input [(ngModel)]="contact.name" type="text" id="name" name="name" />
      </span>

      <span class="edit__row">
        <label htmlFor="email">Email:</label>
        <input
          [(ngModel)]="contact.email"
          type="email"
          id="email"
          name="email"
        />
      </span>

      <span class="edit__row">
        <label htmlFor="phone">Phone:</label>
        <input [(ngModel)]="contact.phone" type="tel" id="phone" name="phone" />
      </span>

      <button class="edit__save">Save</button>
    </form>
  </section>
</section>
