@import "../../../assets/styles/mixins";
@import "../../../assets/styles/functions";
@import "../../../assets/styles/variables";

#excel-table{
    display: none
}

.trans {
    &__data {
        @include flex(row, space-between);

        &__count {
            @include flex;
            gap: 5px;
            span {
                font-size: rem(50px);
            }

            button {
                margin-inline-start: 20px;
                @include btn($sClr1);
            }
        }

        &__filter {
            @include flex();
            li {
                margin-inline-end: 10px;
                color: $sClr1;
                cursor: pointer;
                
                &:last-child {
                    margin: 0;
                }
                
                &:hover{
                    color: $sClr3;
                }

                &.active {
                    color: $pClr1;
                }
            }
        }
    }
}
