<section class="trans">
  <section class="trans__data">
    <div class="trans__data__count">
      <span> {{ loggedInUser.moves.length }} </span>
      Transactions
      <button>Export History</button>
    </div>
    <div>
      <button (click)="setFilterBy('all')">All</button>
      <button (click)="setFilterBy('sent')">Sent</button>
      <button (click)="setFilterBy('recent')">Recent</button>
    </div>
  </section>
  <transaction-list [moves]="movesToDisplay"></transaction-list>
</section>
