<section class="trans">
  <section class="trans__data">
    <div class="trans__data__count">
      <span> {{ loggedInUser.moves.length }} </span>
      Transactions
      <button (click)="exportExcel()">Export History</button>
    </div>
    <ul class="trans__data__filter">
      <li [class.active]="this.filterBy === 'all'" (click)="this.filterBy = 'all'">All</li>
      <li [class.active]="this.filterBy === 'sent'" (click)="this.filterBy = 'sent'">Sent</li>
      <li [class.active]="this.filterBy === 'recent'" (click)="this.filterBy = 'recent'">Recent</li>
    </ul>
  </section>
  <transaction-list [moves]="movesToDisplay"></transaction-list>

  <table id="excel-table">
    <tr>
      <th>To</th>
      <th>From</th>
      <th>At</th>
      <th>Amount</th>
      <th>Type</th>
    </tr>
    <tr *ngFor="let move of loggedInUser.moves" key="move.id">
      <td>{{move.isToContact ? move.contactName : loggedInUser.name}}</td>
      <td>{{move.isToContact ? loggedInUser.name : move.contactName}}</td>
      <td>{{move.at | date: "hh:mm, dd MMM YYYY"}}</td>
      <td>{{move.amount}}</td>
      <td>{{move.type}}</td>
    </tr>
  </table>
</section>
