<li class="details round">
  <section class="details__left">
    <div class="details__left__left">
      <span>{{ move.at | date: "hh:mm, dd MMM YYYY" }}</span>
      <!-- <span>{{move.at}}</span> -->
      <img
        src="https://res.cloudinary.com/trellox/image/upload/v1651413997/simple%20coin/bitcoin-icon_hlx8lq.png"
        alt=""
      />
    </div>
    <div class="details__left__center">
        <img
        *ngIf="move.isToContact"
        src="https://res.cloudinary.com/trellox/image/upload/v1651414215/simple%20coin/red-arrow_nxwp7a.png"
        alt=""
      />
      <img
        *ngIf="!move.isToContact"
        src="https://res.cloudinary.com/trellox/image/upload/v1651414216/simple%20coin/green-arrow_bgj2ws.png"
        alt=""
      />
      <span>{{ move.contactName }}</span>
    </div>
  </section>
  <div class="details__right">
    <span class="amount">{{ move.amount }} BTC</span>
    <img src="https://res.cloudinary.com/trellox/image/upload/v1651414621/simple%20coin/complete_v9k0vc.png" alt="">
  </div>
</li>
