*, *::before, *::after {
  box-sizing: border-box;
}

html {
}

body {
  margin: 0;
  // background: linear-gradient(64deg, $clr3 0%, $clr2 6%, $clr1 40%);
  background-color: rgb(56, 56, 56);
  min-height: 100vh;
  color: $txtClr
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $txtClr
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

button,
input {
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $clr1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darken($clr2, 20%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $clr2;
}