*, *::before, *::after {
  box-sizing: border-box;
}

html {
}

body {
  margin: 0;
  background-color: $pClr2;
  min-height: 100vh;
  color: $pClr1;
  font-family: Roboto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $pClr1
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

button,
input {
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lighten($sClr1, 10%);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lighten($sClr2, 10%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $pClr3;
}