@import "./variables";
@import "./mixins";

.main-layout {
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;

    > * {
        grid-column: 2;
        width: 80%;
        justify-self: flex-end;

        &:first-child{
            width: 100%
        }
    }

    @include for-narrow-layout {
        @include layoutGTC($break-narrow);
    }

    @include for-normal-layout {
        @include layoutGTC($break-normal);
    }

    @include for-wide-layout {
        @include layoutGTC($break-wide);
    }
}

@media (max-width: $break-narrow) {
    .main-layout {
        display: grid;
        grid-template-columns: $layoutPadding 1fr $layoutPadding;

        > * {
            grid-column: 2;
            width: 100%;
        }
    }
}

@media (min-width: $break-normal) {
}

@media (min-width: $break-wide) {
}
