@import "./functions";

// COLORS
// primary
$pClr1: #ffffff;
$pClr2: #1e2024;
$pClr3: #7ac231;

// secondary
$sClr1: #43444b;
$sClr2: #65656A;
$sClr3: #979797;

// charts
$c1: #bebebe;
$c2: #639c29;
$c3: #1e2024;

// coins
$cBTC: #F2921B;
$cETH: #939ABE;
$cLTH: #838383;
$cXRP: #4A90E2;
$cDASH: #494AA7;


// $c2: #9ffd42;
// $c2: #868686;
// $c3: #5e5e5e;
// $c6: #8ee23a;


// // LAYOUT
$layoutPadding: rem(20px);

// LAYOUT BREAKPOINTS
$break-narrow: rem(600px);
$break-normal: rem(900px);
$break-wide: rem(1200px);