<li class="item">
  <header class="item__header">
    <div class="right">
      <img class="right__img" src="{{ img }}" alt="" />
      <span class="right__coin">{{ fullName }}</span>
    </div>
    <div class="left">
      <span class="left__type">{{ shortName }}</span>
      <span class="left__rate">{{ rate }}</span>
    </div>
  </header>
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [yAxis]="true"
    [timeline]="true"
    [results]="data"
  >
  </ngx-charts-line-chart>
  <ul class="item__footer">
    <li class="period__item" [class.active]="period === 'week'" (click)="onChangePeriod.emit({period: 'week', name: shortName})">3 weeks</li>
    <li class="period__item" [class.active]="period === 'month'" (click)="onChangePeriod.emit({period: 'month', name: shortName})">3 months</li>
    <li class="period__item" [class.active]="period === 'year'" (click)="onChangePeriod.emit({period: 'year', name: shortName})">3 years</li>
  </ul>
</li>
